body {
  font-family: 'Poppins', sans-serif;
  padding-top: 70px;
}

/* Navbar */
.custom-nav {
  background: #76120b;
}
.navbar-brand, .nav-link {
  color: white !important;
}

/* FOOD ICON BACKGROUND */
.food-bg {
  background:
    linear-gradient(135deg, rgba(47, 43, 62, 0.95), rgba(70, 54, 117, 0.95)),
    url("https://www.transparenttextures.com/patterns/food.png");
}

.food-bg-light {
  background:
    linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)),
    url("https://www.transparenttextures.com/patterns/food.png");
}

/* Hero */
.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
}

.hero-btn {
  background: white;
  color: #ff6b6b;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: bold;
}

/* Menu */
.menu-section {
  padding: 80px 0;
}

.food-box {
  background: white;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  transition: transform 0.4s;
}

.food-box:hover {
  transform: translateY(-10px);
}

.food-box img {
  width: 100%;
  height: 220px;
  border-radius: 15px;
  object-fit: cover;
}

.food-box span {
  color: #ff6b6b;
  font-weight: bold;
}

/* Gallery */
.gallery-section {
  background: #f7f7f7;
  padding: 80px 0;
}

.gallery-box {
  overflow: hidden;
  border-radius: 20px;
}

.gallery-box img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.5s;
}

.gallery-box img:hover {
  transform: scale(1.15);
}

/* Contact */
.contact-section {
  background: #111;
  color: white;
  padding: 60px 0;
}

/* Footer */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
